/* BODY */
.body_container  {
	margin : 15px 15px auto 15px;
}
/* AVATAR VÀ SLOGAN ( MÂY BI LÀ SLOGAN ^.^ ) */
.avatars  {
	display: flex;	
}
.avatars {
	justify-content: space-between;
}
.slogan {
	height: 150px;
	display: flex;
	justify-content: center;
	font-family: 'Sigmar One', cursive;
}
.slogan_container {
	display: table;
}
.long_dash { 
	background-color: red;
	width: 150px;
	height: 4px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.slogan span {
	font-size: 60px;
	font-weight: bolder;
	text-transform:uppercase;
}
.avatars:first-child {
	margin-left: 25px;
}
.avatars:last-child {
	margin-right: 25px;
}
/* MEMBER */ 
.member_container {
	margin-left:150px;
	margin-right:150px;
	
}
 .members {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.member {
  border-radius: 5px;
  height: 200px;
  width: 150px;
  margin-top: 15px;
  display: flex;
  flex-direction : column;
}
.member_avatar__container {
	height: 80%;
	border-radius: 5px;
	background-color: #000;
}
.member_avatar {
	padding-right: 5px;
	padding-left: 5px;
}
.member_name__container {
	height: 20%;
	text-align: center;
	font-family: 'Lobster', cursive;
	margin-top: 5px;
	background-color: #ab5d0a;
	border-radius: 15px ;
	text-transform:capitalize;
	display: table;
}
.member_name {
	display: table-cell;
	vertical-align: middle;
	padding:2px;
}

.member_avatar img {
	height: 100%;
	width: 100%;
	object-fit: contain;
	border-radius: 5px;
}
/* ACTIVITIES */ 
.acti_container {
	margin-top:50px; 
}
.acti_container {
	display: flex;
	justify-content: space-between;
}
.acti_container__section {
	width: 50%;
	display: flex;
	flex-direction:column;
}
.acti_title__container {
	display: table;
	margin-right: auto;
	margin-left: auto;
}
.acti_title {
	display: flex;
	flex-direction:column;
}

.acti_title span:first-child {
	padding: 5px 10px 5px 10px;
	font-family: 'Amatic SC', cursive;
	color: green;
	font-size: 20px;
	font-weight: bold;
}
.acti_title span:last-child {
	margin-top:5px;
	text-transform:capitalize;
	font-size: smaller;
}
.acti_title span{
	text-align: center;
}
/*  những địa điểm đã đi và những câu chuyện trong làng */
.acti_section /* acti_places__container , acti_stories_container */ {
	margin-right: auto;
	margin-left: auto;
	width: 70%;
	margin-top: 25px;
	margin-bottom: 25px;
}
.acti_section ul { 
	list-style-type: none;
	margin: 0;
	padding: 0;
 }
 .acti_section li {
 	margin-bottom: 5px;
 	font-family: 'Titillium Web', sans-serif;
 }
 /* ul và li */
 .places_container {
 	display: table;
 }
 .acti_image , .acti_text {
 	vertical-align:middle;
 	display: table-cell;
 }
 .acti_image img {
 	height: 25px;
 	width: 25px;
 	border-radius: 50%;
 	margin-right: 5px; 
 }
.acti_text {
	background-color: #c9bdbd;
	border-radius: 10px;
	padding: 0 5px 0 5px;
}
/* FOOTER */

.footer {
	margin: 50px;
	display: flex;
	justify-content: center;
}