/* 1.0 : PHẦN CSS CHUNG CHO TOÀN BỘ BAO GỒM THẺ BODY VÀ THẺ HTML */
body {
	color:#000;
	padding:0;
	margin:0;
	overflow-x:hidden;
	width: 100vw;
	height: 100vh;
}
	/* đoạn này cho cái thanh trượt */
	::-webkit-scrollbar {
	  display: none

	}
	body::-webkit-scrollbar {
	  display: block;

	}
	:hover::-webkit-scrollbar {
		display: block;
	 	width: 10px;

	}
	/* Track */
	::-webkit-scrollbar-track {
	  background: #f1f1f1; 

	}

	/* Handle */
	::-webkit-scrollbar-thumb {
	  background: #888; 
	  border-radius: 15px;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	  background: #555; 
	}
	.hidden {
		display: none !important;

	}
	.zoom {
		transform:scale(2);
	}
/* 2.0: PHẦN CSS CHỨC NĂNG CẤU TRÚC CHUNG */
	/* 2.1: css cho cái ảnh xong tiêu đề */

	.box {
		display:table;
	}
	.image, .title {
		vertical-align:middle;
		display:table-cell;
	}
	.box img {
		width:35px;
		height:35px;
		margin:5px;
	}
	/* 2.2: css chung cho phần hiển thị các cửa sổ */
	.window { /* container */
		background-color:#e3d5d5;
		display: flex;
		flex-direction: column;
		width: 350px;
		position: fixed;
		margin-left: auto;
		margin-right: auto;
		top:20%;
		border-radius: 10px;
	

	}
	.window_taskbar {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	}
	.window_taskbar .image img {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		margin-left: 5px;
		margin: 2.5px;
		margin-left: 5px;
	
	}
	.window_taskbar .title {
		height: 100%;
		display: flex;
		justify-content: center;
  		align-items: center; 
		flex-direction: row;

	}
	.window_taskbar .title span {
		width: 15px; 
		height: 15px;
		border-radius: 50%;
		margin: 5px;
		margin-top : 10px;
		background-color:#b3aa0b;
	}
	.window_taskbar .title span:hover {
		transform: scale(1.2);
	}
	.window_taskbar .title span:first-child {
		background-color: #910606;
	}
	.window_taskbar .title span:last-child {
		background-color:  #de623c;
	}
	.window_container { /* khung chứa nội dung */
		margin:5px;
		background-color:#fff;
		padding: 5px;
		height: auto;
		overflow: auto;
		border-radius: 10px;
	}
	.window_name {
		padding: 5px;
		font-weight: bolder;
		text-align: center;	
	}
	/* css cho chức năng flip / lật */
	.flip_container {
		overflow: hidden;
		height: auto;
	}
	.flip_container-inner {
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;
		transition: transform 0.6s;
		transform-style: preserve-3d;
	}
	.flip_container:hover .flip_container-inner {
		transform: rotateY(180deg);
	}
	.flip_container-front, .flip_container-back {
		position: absolute;
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
	}
	.flip_container-back {
		transform: rotateY(180deg);
	}
	/* 2.3 copyright */
	.copyright img {
		border-radius: 50%;
	}
/* 3.0: PHẦN CSS CHO PHẦN TÌM KIẾM */

/* 4.0: PHẦN CSS CHO PHẦN HIỂN THỊ DANH SÁCH BÀI ĐĂNG CŨNG NHƯ CÁC CỬA SỔ WINDOW CHỨC NĂNG */
.main { /* đây là cái chứa danh sách bài đăng và chứa các cửa sổ hiển thị  */
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-top:45px;
	margin-bottom:80px;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}
	/* ============= 4.1: Phần Css Cho Phần Hiển Thị Danh Sách Bài Đăng ============== */
	.main_container { /* đây là cái chứa toàn bộ danh sách bài đăng */
		width:95%;
		list-style:none;
		display:-webkit-box;
		display:-moz-box;
		display:-ms-flexbox;
		display:-webkit-flex;
		display:flex;
		-webkit-flex-flow:row wrap;
		justify-content:space-around;
	}
	/* ======== */
	.category { /* Mỗi categoy chứa mỗi chủ đề hay còn gọi là nhãn khác nhau */
		padding:5px;
		width:350px;
		margin-top:10px;
		color:#fff;
		display:flex;
		flex-direction:column;
		border-radius:5px;
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
		background-color: #d6c7c7
	}
	.category_image { /* ảnh chủ đề */
		display:flex;
		align-items:center;
		justify-content:center;

	}
	@keyframes float {
		0% {
			box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
			transform: translatey(0px);
		}
		50% {
			box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
			transform: translatey(-10px);
		}
		100% {
			box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
			transform: translatey(0px);
		}
	}


	.category_image img {
		width: 100px;
		height: 100px;
		box-sizing: border-box;
		border: 2px white solid;
		border-radius: 50%;
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
		animation: float 6s ease-in-out infinite;
	}
	
	.category_title { /* tiêu đề chử đề */
		text-align:center;
		font-size:30px;
		padding-top:5px;
		font-weight: bolder;
		color: black;
	}
	.category_body { /* nơi hiển thị chính của các bài viết gợi ý*/
		list-style-type:none;
		margin:0;
		padding:0;
		color: black;
		text-transform: capitalize;
	}
	.category_body li {
		border-bottom:1px solid #555;
		padding-bottom:5px;
		padding-top:5px;
	}
	.category_body li:last-child {
		border-bottom:none;
	}
	.category_body .box img {
		width:30px;
		height:30px;
		margin:5px;
		border-style:solid;
		border-width:2px;
		background-color: #fff;
	}
	/* ============= 4.2: Phần Css Cho Phần Hiển Thị Các Cửa Sổ Chức Năng ============= */
			/* 4.2.1: Phần css cửa cửa sổ hiển thị các thành viên của blog */
			.member .box {
				width: 80%;
				margin-left: auto;
				margin-right: auto;
				text-align: left;
			}
			.member .box .title {
				width: 100%;
			}
			.title_container {
				display: flex;
				flex-direction: column;
			}
			.title_container span:first-child {
				font-weight: bolder;
				color: green
			}
			.title_container span:last-child {
				font-size: small;
			}

			/* 4.2.2: Phần css hiển thị menu cửa blog */
			.starttitle {
				padding-left: 10px;
				font-weight: bolder;
			}
			.starttitle::after {
				content: '.'
			}
			.menu_container {
				width: 20vw;
				display: flex;
				flex-direction: column;
				text-align: left;
				
				overflow-y: scroll;
				overflow-x: hidden;
			}
			.menu_container .box span {
				text-align: left;
				background-color: inherit;
				  color: black;
			
				  width: 100%;

			
				  text-align: left;
				  cursor: pointer;
				  transition: 0.3s;
				  font-size: 17px;
			}
			.right_container {
				width: 80%;
			}
			.menu_dash {
				border:solid 1px;
			}
			.menu{
				display: flex;
				position: fixed;
				flex-direction: row;
				border:solid 1px;
				bottom: 80px;
				top:5px;
				width: 70vw;
				border-radius: 5px;
				background-color: #ebe4e4;
				margin-left: auto;
				margin-right: auto;
				z-index: 5;

			}
			.menu_container .box { /* Đoạn css cho các post hiển thị trên chủ đề */
			margin: 5px;
			height: 25px;
			padding-right: 15px;
			cursor: pointer;
			}
			.menu_container .box:hover  {
			background-color: #9e8a8a;
			border-radius: 15px;
			}
			.menu_container .box:hover .image {
			background-color: white;
			}
			.menu_container .box:active {
			box-shadow: 0 2px #666;
			transform: translateY(2px);
			}
			.menu_container .box .image {
			background-color: white;
			}
			.menu_container .box img { 
			width: 25px; 
			height: 25px;
			margin-right:5px;
			border-style:solid;
			border-width: 2px;
			padding: 2px;
			border-radius: 50%;
			}
			.menu_container .box .title { 
			padding-left: 5px;
			}
			/* 4.2.3: Phần css hiển thị thông báo / bài viết liên quan */ 
			/* 4.2.4: Phần css hiển thị số hiệu phiên bản */
			.version {
			    border-radius: 50%;
			    display: flex;
			    margin-left: auto;
			    margin-right: auto;
			    flex-direction: column;
			}
			.version_container * {
			    margin-top: 5px;
			}
			.version_more {
			    text-align: left;
			}
			.version_more .box{
				margin-right: auto;
				margin-left: auto;
				width: 80%;
				border-bottom: solid 2px #c2b4b4;
			}
			.version_more .box .title {
				width: 100%;
			}
			#fa-check {
			    font-size: 50px;
			    background-color: red;
			    padding: 15px;
			    border-radius: 50%;
			}
/* 5.0 PHẦN CSS CHO PHẦN HIỂN THỊ BÀI ĐĂNG */

/* 6.0 PHẦN CSS CHO PHẦN TASKBAR */
.taskbar {
	position:fixed;
	bottom:0;
	height:43px;
	width:100%;
	background:#004172;
	padding-bottom:5px;
	display:flex;
	flex-direction:row;
	justify-content:center;
}
.taskbar_icon {
	height:43px;
	width:48px;
	position:relative;
}
.taskbar_icons a i {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	font-size:21px;
	color:#fff;
}
.taskbar_icons a:hover i {
	font-size:30px;
}
.taskbar_icons a:active {
	box-shadow:0 5px #666;
	transform:translateY(4px);
}
.taskbar a {
	display:table-cell;
	border-bottom:2px solid transparent;
	padding-left:25px;
	padding-right:25px;
}
.taskbar a:hover {
	background-color:rgba(255,255,255,.1) !important;
}
@keyframes warningFlash {
	50% {
	  opacity:0;
	}
}
/* 7.0 PHẦN PHỤ : PHẦN CODER ĐẦU TRANG */
.header {
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	margin-left: 5px;
}
/* 8.0 SEARCH BOX */
.search {
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 10px;
	position: fixed;
	z-index: 10;
	
}

.search_container {
	
	width: 20vw;
	border:solid;
	background-color: #fff;
}

.search , .search_container , #searchLive{
	margin-left: auto;
	margin-right: auto;
}
.virtual {
	display: table;
	padding: 5px;
}
.saltana , form {
	display: table-cell;
	vertical-align: middle;

}
.saltana {
	padding-right:15px;
	border-radius: 40%;
	background-color: black;
	padding: 2.5px;

}
.search_span{
	border:solid red;
	border-radius: 50%;
	margin: 2.5px;
	transform: rotate(90deg);
	padding: 2.5px;
}
.search_here { 
	padding-left: 10px;
	width: 100%;
	overflow-x: scroll;
	position: relative; 
	font-size: 16px;
	border: none;
	background-repeat:no-repeat;
	margin-left:5px;
}
::placeholder {
	font-weight: bolder;
}

.search select {
	width: 100%;
	font-weight: bolder;
	padding: 10px;
}

.search_title {
	border-bottom: solid 1px green;
	padding-bottom: 5px;
}