/* BODY -- ĐÂY LÀ CHUNG CHO TẤT CẢ CÁC DIV */
body {
	background-color: black;
	color: white;
}
/* HEADER */ 
.header{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 0;
}
	/* Đoạn css này nói về cái ảnh đầu của header hay còn gọi là logo */
	.header img{
		border-radius: 50%;
		width: 100px;
		height: 100px;
		border:solid 10px;
		border-width: 5px 15px 15px 15px;
	}
	/* Đoạn css lời tâm sự của thằng coder với những thằng trộm-er */
	.karma {
		display: flex;
		flex-direction: column;
		padding: 5px;
	}
	/* Đoạn css viết về những thông tin của người dùng đầu trang như ngày tháng giờ, trình duyệt, os , internet */
	.client_info {
		flex-direction: row;
		padding: 10px;
	}
	.space span:last-child {
  		border-right: none;
	}
	.space span:first-child {
  		border-left: none;
	}
	.space { /* Cái này áp dụng cho tất cả các thẻ nằm trong class client_info */
		margin:0;
		padding-right:5px;
		padding-left: 5px;
		border:solid 1px;
		border-top:none;
		border-bottom: none;
		border-color: orange;
	}
	.internet_connect {
		font-weight: bolder;
	}
	.warningFlash {
	  animation: warningFlash 1s linear infinite;
	}

	@keyframes warningFlash {
	  50% {
	    opacity: 0;
	  }
	}

/* MAIN */ 
.main {
	width: 80%;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.container {
	width: 90%;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.category {
  background: tomato;
  width: 300px;
  margin-top: 10px;
  color: white;
  display: flex;
  flex-direction: column;
}
.category_image {
	display: flex;
	align-items: center;
	justify-content: center;
}
.category_image img{
	width: 100px;
	height: 100px;
	object-fit: contain;
}
.category_title {
	text-align: center;
	}
.category_post {
	display: table;
}
.category_post__image , .category_post__info {
	vertical-align:middle;
	display: table-cell;
	}
	.category_post__image img { 
	width: 25px; 
	height: 25px;
	margin:5px;
	border-radius: 50% }
/* FOOTER */
.footer {
	padding-top: 20px;
	margin-top:50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border:solid;
	border-width: 1px 0 0 0 ;
	width: 50%;
	margin-bottom: 50px;
}
/* TAG COLOR */
red {
	color: red;
}
#coder red {
	text-shadow: 0px 1px 0 green,
				 1px 2px 0 green,
				 2px 3px 0 green;
}
yellow {
	color: yellow;
}
green {
	color: green;
}