/* BODY -- ĐÂY LÀ CHUNG CHO TẤT CẢ CÁC DIV */
body {
	background-color: #ebe4e4;
	color: black;
}
/* HEADER */ 
.header{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 0;
}
	/* Đoạn css này nói về cái ảnh đầu của header hay còn gọi là logo */
	.header_logo {
		border-radius: 50%;
		width: 100px;
		height: 100px;
		border:solid 10px;
		border-width: 5px 15px 15px 15px;
		margin-top: 20px;
	}
	/* Đoạn css lời tâm sự của thằng coder với những thằng trộm-er */
	.karma {
		display: flex;
		flex-direction: column;
		padding: 5px;
	}
	.internet_connect {
		font-weight: bolder;
	}
	.warningFlash { /* Cả đoạn css này dùng cho tạo kiểu nhấp nháy thông báo */
	  animation: warningFlash 1.5s linear infinite;
	}

	@keyframes warningFlash {
	  50% {
	    opacity: 0;
	  }
	}

/* MAIN */ 
.main {
	width: 80%;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
	.container { /* Đoạn css cho container nơi chứa toàn bộ category */
		width: 90%;
		list-style: none;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		justify-content: space-around;
	}
		.category { /* Đoạn css chứa các chủ đề và bài viết */
			padding:5px;
 		 	width: 300px;
 		 	margin-top: 10px;
 		 	color: white;
 	 		display: flex;
  			flex-direction: column;
		}
			.category_image { /* Đoạn css logo chủ đề category */
				display: flex;
				align-items: center;
				justify-content: center;
			}
				.category_image img{ /* CSS cho img của chủ đề */
					width: 100px;
					height: 100px;
					object-fit: contain;
					border-style:solid;
					border-color: yellow;
					border-width: 5px;
					border-radius: 50%;
				}
			.category_title { /* Tiêu đề của chủ đề */
				text-align: center;
				font-size: 25px;
				text-decoration-line: underline;
				padding-top: 5px;
			}
		.category_body { 
			list-style-type: none;
			margin: 0;
		    padding: 0;
		}
			.category_body li {
				border-bottom: 1px solid #555;
				padding-bottom: 5px;
				padding-top: 5px;
			}
			.category_body li:last-child {
				border-bottom: none;
			}
			.category_post , .app{ /* Đoạn css cho các post hiển thị trên chủ đề */
				display: table;
			}
			.app {
				border-spacing: 2px;
				
			}
			.app:hover  {
				background-color: #9e8a8a;
				border-radius: 15px;
			}
			.app:hover .image {
				background-color: white;
			}
			.header .tabs {
					display: none;
			}
			.tabs .title {
				font-weight: bolder;
				
			}
			.header input {
				display: none;
			}

			.header input:checked ~ .tabs {
				display: flex;
				flex-direction: column;
				background-color: white;
				border-radius: 5px;
				padding: 5px;
				position:absolute;
				margin-top: 50px;
				z-index: 2;
				text-align: left;
			}
			.tabs span {
				text-align: left;
				width: 100%;
			}
			#time{
				background-color: green; 
				border-radius: 5px;
				padding: 5px;

			}
				.image , .title { /* Đoạn css cho post title và post img */
					vertical-align:middle;
					display: table-cell;
				}
				.header .title {
					padding-left: 5px;
				}
					.category_post img { 
						width: 25px; 
						height: 25px;
						margin:5px;
						border-radius: 50%;
						border-style:solid;
						
						border-width: 5px;
					}
					.app img {
						width: 25px;
						height: 25px;
						border-radius: 50%;
						border:solid 2px;
						padding:2px;
					}

/* MENU BOOTOM GIỐNG WIN10 */
.bottomMenu {
			margin-left: 5px;
			margin-bottom: 5px;
			position:fixed;
		}
/* FOOTER */
.footer {
	padding-top: 20px;
	margin-top:50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border:solid;
	border-width: 1px 0 0 0 ;
	width: 50%;
	margin-bottom: 50px;
}
/* TAG COLOR */
red {
	color: red;
}
#coder red {
	text-shadow: 0px 1px 0 green,
				 1px 2px 0 green,
				 2px 3px 0 green;
}
yellow {
	color: yellow;
}
green {
	color: green;
}